{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-4 col-lg-5 profile">
            <img src="../../static/images/keriliwi-2GPP1a1SMl4-unsplash.jpg" id="profile-pic" alt="" width="500" height="700">
            <br>
            <br>
            <h1 class="text-uppercase">Work</h1>
            <hr>
            <br>
            <h2 class="text-uppercase"> <strong>nairobi sports club</strong></h2>
            <h4> <cite>YEARS OF WORK:</cite><span style="color: #013220;">2016-PRESENT</span></h4>
            <h4> <cite>JOB TITLE:</cite></h4><p>Head Coach of Rugby</p>
            <br>
            <br>

            <h1 class="text-uppercase">skills</h1>
            <hr>
            <br>
            <p>Skills and Conditioning</p>
            <p>Tactics and Coordination</p>

        </div>

        <div class="col-xs-12 col-md-6 col-lg-5">

        </div>
    </div>
</div>


{% endblock %}